body {
    font: 18px/36px arial, sans-serif;
    background-color: #eeeeee;
}

h1 {
	font-size: 80px;
	margin: 50px 0;
	text-align: center;
	text-shadow: 1px 1px 1px white;
}

.container {
	width: 600px;
	background-color: white;
	margin: auto;
	padding: 30px;
	box-shadow: 0 0 3px 3px rgba(0,0,0,.3);
	border-radius: 5px;
}

.gallery li {
	width: 120px;
	height: 120px;
	/*overflow: hidden;*/
	border: 5px solid #666;
	float: left;
	margin: 10px;
	position: relative;
}

.gallery li,
.gallery li a img,
.gallery li span {
	border-radius: 50%; 
}

.gallery li .thumb img {
    width: 120px;
	height: 120px;
    object-fit: fill;
}

.gallery li span {
	display: block;
	width: 120px;
	height: 120px;
	background-color: rgba(200,200,200,.5);
	position: absolute;
	top: 0;
	text-align: center;
	line-height: 120px;
	color: #333;
	text-shadow: 1px 1px 1px #ddd;
	opacity: 0;
	transform: scale(0) rotate(0);
	transition: .3s;
}

.gallery li a:hover span {
	opacity: 1;
	transform: scale(1) rotate(360deg);
}

.clear {
	clear: both;
}

.overlay {
	height: 0;
	width: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0);
	z-index: 9999;
	transition: 1s;	
	text-align: center;
	padding: 100px 0;
}

.overlay:target {
	height: auto;
	width: auto;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.3);
}

.overlay img {
	max-height: 100%;
	box-shadow: 2px 2px 10px rgba(0,0,0,.7);
}

.overlay:target img {
	animation: zoomFade 1s;
}

.overlay .close {
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -50px;
	color: aliceblue;
	text-decoration: none;
	background-color: black;
	border: 1px solid white;
	padding: 5px;
	border-radius: 10%;
	opacity: 0;
}

.overlay:target .close {
	animation: slideDownFade 1s 1s forwards;
}

@keyframes zoomFade {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes slideDownFade {
	0% {
		opacity: 0;
		margin-top: -20px;
	}
	100% {
		opacity: 1;
		margin-top: 0;
	}
}